.md{width:1204px;margin:0 auto;}
.zf_head{
    height:84px;
}
.main_top{
    padding-bottom:28px;
    background:#fff;
}
.zf_head h1,.zf_head .zf_nav{
    float:left;
}
.zf_head .logo{
    width:176px;
    height:52px;
    margin-top:16px;
    overflow:hidden;
}
.zf_head .logo i{
    margin-left:-999px;
}

.zf_head .zf_nav li{
    height:80px;
    line-height:80px;
    font-size:14px;
    margin-left:68px;
}
.zf_nav li a{
    color:#2A2A2A;
}


.zf_nav li{
    float:left;
}
.message>div{
    float:left;
}
.message .shopping{
    width:83px;
    height:80px;
    line-height:80px;
    background:url("../images/cart.png") left center no-repeat;
    text-indent:34px;
    margin-right:39px;
}
.logoIn{
    margin-right:35px;
}
.logoIn,.zhuce{
    height:80px;
    line-height:80px;
}
.zhuce{
    margin-right:30px;
}
.banner{
    position:relative;
}
.banner,.bannerBox{
    height:360px;
}
.banner li a{
    display:block;
}
.banner li a img{
    width:100%;
}
.banner_bar{
    position:absolute;
    left:0;
    top:0;
    width:244px;
    height:360px;
    background:#2074a6;
}

.banner_bar>li{
    padding:0 25px;

    height:73px;
    box-sizing: border-box;
    position:relative;

}
.banner_bar li a{
    display:block;
    line-height:73px;
    height:73px;
    font-size:14px;
    color:#FDFDFE;
    border-bottom:1px solid #82b1cd;
    background:url("../images/arrow.png") 174px center no-repeat;
}
.banner_bar li:last-child ,.banner_bar li:last-child a{
    height:65px;
    line-height:65px;
    border:none;
}
.banner_slide{
    width:576px;
    height:360px;
    padding:30px;
    box-sizing: border-box;
    background:url("../images/mobileBg.jpg") center center no-repeat;
    position:absolute;
    top:0;
    left:244px;
    display:none;
}
.banner_slide h3{

}
.banner_slide ol li{
    height:40px;
    line-height:40px;
    font-size:12px;

}
.banner_bar li:hover {
    background:rgba(11,11,11,.3);
}
.banner_bar li:hover .banner_slide{
    display:block;
}

.banner_bar li:nth-child(2) .banner_slide{
    top:-73px;
}
/* 实战*/


.recomment h3{
    padding:20px;
    font-size:16px;
    color:#2d2d2d;
    margin-top:20px;
}
.recommentUl li{
    float:left;
    width:254px;
    height:190px;

    margin-right:62px;
    position:relative;
}
.recommentLiBox{
    /*height:119px;*/
    width:100%;
    background:#fff;
    position:absolute;
    bottom:0;
    left:0px;
    padding: 20px 15px 0 15px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(2,2,2,.3);
}
.recommentLiBox h3{
    font-size:14px;
}
.run{
    height:32px;

    width:183px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display:none;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
     transition:all 1s linear;
}

.message{
    height:35px;
    line-height:35px;
}

.price{
    float:left;
    color:#c71b1b;
}
.num{
    float:right;
    color:#868484;
}
.recommentUl li:hover .run {
    display: -webkit-box;
}
.main_recomment {
    height:468px;
    background:#f3f5f7;
    padding-top:34px;
    padding-bottom:54px;
    box-sizing: border-box;
}
.recommentbox>a,.recommentbox>div{
    float:left;
}
.recomment1{
    width:224px;
    height:380px;
    display:block;
    margin-right:17px;
}
.recommentbox a{
    display:block;
}
.recommentbox a img{
    display:block;
}
.recomment3 .recommentUl li{
   float:none;
   margin-right:0;
    height:184px;

}
.recomment2{
    margin-right:17px;
}
.recomment4{
    position:relative;
    height:382px;
    margin-left:18px;
}
.recomment4 img{
    display:block;
}
.textBox{
    padding:30px 24px;
    box-sizing:border-box;
    width:100%;
    height:312px;
    background:rgba(255,255,255,.8);
    position:absolute;
    bottom:0px;
    left:0;
}
.zhongText{
    width:21px;
    height:21px;
    line-height: 21px;
    text-align:center;
    background:#B7B7B7;
    color:#FEFBFB;
    display:inline-block;
     margin-right:12px;
}
.textBox p{
    font-size:16px;
}
.textBox .number{
    font-size:12px;
    color:#7b7b7b;
    margin-top:21px;
    border-bottom:1px solid #E1E1E1;
    padding-bottom:16px;
}
.recomment4 ul{
    padding-top:27px;
}
.recomment4 ul li{
    color:#1e1e1e;
    height:29px;
    line-height:29px;
}

/*footer*/
.footer{
    height:270px;
    background:#2e2e2e url("../images/logo2.png") 932px center no-repeat;
    padding-top:50px;
    box-sizing: border-box;
    box-shadow: 0 -2px 0 0 #020202 inset;

}
dl{
    float:left;
    margin-right:74px;
    text-align:center;
}
dl dt{
    color:#fefdfd;
    font-size:16px;
    margin-bottom:30px;
}
dl dd{
    color:#a3a3a3;
    height:35px;
    line-height: 35px;
}

.footer_bottom{
  height:100px;
    background:#212121;
    border-top: 1px solid #5b5c5c;
}